/**
  Styles for the Map panel
 */

@mixin map_panel() {
  @include panel('Map') {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    div.leaflet-marker-icon {
      background: url("marker.svg");
      background-size: contain;
      
      div {
        background: transparent;
        
        span {
          color: #FFFFFF;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0)
        }
      }
    }
  }
}