/**
  Styles for the Search panel
 */

@mixin search_panel() {
  @include panel('Search') {
    @include panel-common();
    z-index: 10;
    border-radius: 0;
    top: 0;
    transform: translate(-50%, 0);
    background: transparent;
    
    &.busy {
      .row.search-bar .wrapper .button.search {
        &::after{
          content: "sync";
          animation: spin 1s infinite;
          
          @keyframes spin {
            from {
              transform: translate(-50%, -50%) rotate(0deg);
            }
            
            to {
              transform: translate(-50%, -50%) rotate(360deg);
            }
          }
        }
      }
    }
    
    .row {
      @include row-common();
      
      &.logo {
        justify-content: left;
        margin-bottom: 10px;
        display: none;
        
        img {
          height: auto;
          width: 60px;
          object-fit: cover;
        }
      }
      
      &.search-bar {
        .wrapper {
          --search-height: 36px;
          --btn-width: calc(var(--search-height) * 1.3);
          @include frosted-panel();
          box-shadow: $box-shadow;
          position: relative;
          width: 100%;
          height: var(--search-height);
          border: map.get($colors, "foreground") 1px solid;
          border-radius: var(--search-height);
          padding: 0 var(--btn-width);
          
          &::after {
            content: "search";
            font-family: "Material Icons";
            display: block;
            position: absolute;
            left: calc(var(--btn-width) / 2);
            top: 50%;
            transform: translate(-50%, -50%);
            background: transparent;
            color: map.get($colors, "gray");
            font-size: 1em;
          }
          
          .shiny-input-container {
            margin: 0;
            width: 100%;
            color: map.get($colors, "foreground");
            border: 0;
            
            label {
              display: none;
            }
            
            input {
              border: 0;
              appearance: none;
              padding-left: 0;
              padding-right: 0;
              text-overflow: ellipsis;
              background: transparent;
            }
          }
          
          & > * {
            height: calc(var(--search-height) - 2px);
          }
          
          .button {
            position: absolute;
            width: var(--btn-width);
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            background: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            color: map.get($colors, "gray");
            
            &::after {
              font-family: "Material Icons";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 1em;
              color: inherit;
            }
            
            &.gps {
              right: var(--btn-width);
              width: calc(var(--btn-width) * 0.8);
              background: linear-gradient(
                90deg,
                transparent 0%,
                rgba(map.get($colors, "background"), 1) 30%
              );
              transition: color 0.3s all;
              
              &::after {
                content: "gps_fixed";
              }
              
              &:hover {
                color: darken(map.get($colors, "foreground"), 10%)
              }
              
              &.active {
                color: map.get($colors, "accent");
              }
            }
            
            &.search {
              right: 0;
              border-radius: 0 var(--search-height) var(--search-height) 0;
              background: map.get($colors, "accent");
              
              &::after {
                content: "arrow_forward";
                color: #FFFFFF;
              }
              
              &:hover {
                background: lighten(map.get($colors, "accent"), 10%)
              }
            }
          }
        }
      }
    }
  }
}