/**
  Styles for the shiny UI
 */

$border-radius: 6px;
$font-primary: "brandon-grotesque", "Helvetica", "Arial", sans-serif;
$font-serif: "PT Serif", serif;
$font-size: 16px;
$box-shadow: 6px 6px 20px rgba(100,100,100,0.3);

$colors: (
  "background": #FFFFFF,
  "lightgray": #E9E9EA,
  "gray": #A8A8B5,
  "darkgray": #949598,
  "foreground": #52525F,
  "accent": #3465E5,
  "highlight": #61D095
);

// Responsive mixin
@mixin responsive($min-screen-width) {
  @media screen and (min-width: #{$min-screen-width}) {
    @content;
  }
}

// Responsive breakpoint for tablet
@mixin responsive-tablet() {
  @include responsive(768px) {
    @content;
  }
}

// Responsive breakpoint for wide tablet
@mixin responsive-tablet-wide() {
  @include responsive(992px) {
    @content;
  }
}

// Responsive breakpoint for desktop
@mixin responsive-desktop() {
  @include responsive(1200px) {
    @content;
  }
}

// Common styles to floating panel elements
@mixin panel-common() {
  display: block;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 390px; // iPhone viewport width
  padding: 20px 40px;
  background: map.get($colors, "background");
  border-radius: $border-radius;
  margin: 0;
}


// Common styles to row wrappers
@mixin row-common() {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 0;
}

html {
  font-size: $font-size;
  
  body {
    color: map.get($colors, "foreground");
    background-color: map.get($colors, "background");
    font-family: $font-primary;
    font-weight: 400;
  }
}

.form-control {
  &:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
  }
}

// Hide the display bar
.navbar {
  display: none;
}

// Shiny containers
.container {
  .tab-pane {
    // Map pane
    &[data-value="Map"] {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      .leaflet-marker-icon {
        background: url("marker.svg");
        background-size: contain;
        
        div {
          background: transparent;
          
          span {
            color: #FFFFFF;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0)
          }
        }
      }
    }
    
    // Search pane
    &[data-value="Search"] {
      @include panel-common();
      z-index: 10;
      border-radius: 0;
      top: 0;
      transform: translate(-50%, 0);
      
      .row {
        @include row-common();
        
        &.logo {
          justify-content: left;
          margin-bottom: 10px;
          
          img {
            height: auto;
            width: 60px;
            object-fit: cover;
          }
        }
        
        &.search-bar {
          .wrapper {
            --search-height: 36px;
            --btn-width: calc(var(--search-height) * 1.3);
            position: relative;
            width: 100%;
            height: var(--search-height);
            border: map.get($colors, "foreground") 1px solid;
            border-radius: var(--search-height);
            padding: 0 var(--btn-width);
            
            &::after {
              content: "search";
              font-family: "Material Icons";
              display: block;
              position: absolute;
              left: calc(var(--btn-width) / 2);
              top: 50%;
              transform: translate(-50%, -50%);
              background: transparent;
              color: map.get($colors, "gray");
              font-size: 1em;
            }
            
            .shiny-input-container {
              margin: 0;
              width: 100%;
              height: var(--search-height);
              color: map.get($colors, "foreground");
              border: 0;
              
              label {
                display: none;
              }
              
              input {
                border: 0;
                appearance: none;
                padding-left: 0;
                padding-right: 0;
                text-overflow: ellipsis;
              }
            }
            
            .button {
              position: absolute;
              width: var(--btn-width);
              height: var(--search-height);
              top: 50%;
              right: 0;
              transform: translate(0, -50%);
              background: transparent;
              cursor: pointer;
              transition: all 0.3s ease;
              color: map.get($colors, "gray");
              
              &::after {
                font-family: "Material Icons";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1em;
                color: inherit;
              }
              
              &.gps {
                right: var(--btn-width);
                width: calc(var(--btn-width) * 0.8);
                height: calc(var(--search-height) - 2px);
                background: linear-gradient(
                  90deg,
                  transparent 0%,
                  rgba(map.get($colors, "background"), 1) 30%
                );
                
                &::after {
                  content: "gps_fixed";
                }
                
                &:hover {
                  color: darken(map.get($colors, "foreground"), 10%)
                }
              }
              
              &.search {
                right: 0;
                border-radius: 0 var(--search-height) var(--search-height) 0;
                background: map.get($colors, "accent");
                
                &::after {
                  content: "arrow_forward";
                  color: #FFFFFF;
                }
                
                &:hover {
                  background: lighten(map.get($colors, "accent"), 10%)
                }
              }
            }
          }
        }
      }
    }
    
    // Filters pane
    &[data-value="Filters"] {
      @include panel-common();
      transform: translate(-50%, 60%);
      
      &.active {
        transform: translate(-50%, -50%);
        
        & #filters-show-hide {
          &::after {
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
      }
      
      .row {
        @include row-common();
        
        &.header {
          justify-content: center;
          gap: 10px;
          
          h1 {
            margin: 0;
            font-size: 1.5em;
          }
          
          @at-root #filters-show-hide {
            --btn-size: 24px;
            display: block;
            height: var(--btn-size);
            width: var(--btn-size);
            border-radius: var(--btn-size);
            color: map.get($colors, "foreground");
            background: transparent;
            margin: 0;
            padding: 0;
            position: relative;
            cursor: pointer;
            transition: all 0.3s ease;
            
            &:hover {
              background: map.get($colors, "lightgray");
            }
            
            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(0);
              background: transparent;
              content: "keyboard_double_arrow_up";
              font-family: "Material Icons";
              color: inherit;
            }
          }
        }
        
        &.control {
          &.collapse {
            .shiny-input-container {
              width: auto;
            }
          }
          
          input {
            width: 60px;
          }
          
          .shiny-input-container {
            width: 100%;
          }
        }
      }
    }
    
    // Dimmer pane, for visual effects
    &[data-value="Dimmer"] {
      background-color: rgba(map.get($colors, "background"), 0.3);
      backdrop-filter: saturate(180%) blur(8px);
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: -10;
      transition: 0.2s ease;
      
      &.dim {
        z-index:10;
        opacity: 1;
      }
    }
  }
}